body{
    background-color:mediumorchid;
}

.Jorge{
    background-color: #a52a2a;
    color:#6fd21e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}